/* Use 
display grid
grid-template-columns
gird-column-start
*/

#container {
    
    display: grid;
    grid-template-columns: auto  80% auto;
    background-color:rosybrown;
}

#middle-column {
    
    padding-top: 10px;
    grid-template-columns: auto;
    grid-column-start: 2 ;
    grid-column-end: 3;
    background-color: lightblue;
    height: 1000px;
}


